// Put any @imports here
// See Readme for a list of supported ones
@import 'foundation';

body {
  background: #F69200;
  position : relative;
}

.right li a:hover{
 color: #D8D200 !important; 
}

#curry{
  font-style:italic;
  color:#D8D200 ;
}

.text{
  font-size :0.8em;
}

#singleImage{
  border-radius:10%;
  margin: 10px 0;
  border:0.2em solid #D8D200;
}
//CONTACT FORM

.signature{
  width :150px;
  height:70px;
}

.cont{
  width: 450px !important;
}

.contact{
  width :450px;
  height:250px;
}



.container {
  width :60%;
  margin :15px auto;
}
.list-page {
  width: 350px;
  margin:10px 0 10px 10px;
  padding:0;
  display:inline-block;
}
.list-img{
  border-radius:15px;
  overflow:hidden;
  width:250px;
  height:200px;
}
img{
  //width:500px;
  height:300px; 
}