<h4>About <span id='curry'>Curry</span> and Cream</h4>
<p></p>
<hr>

<p>This is a One-stop recipe collection for all recipes cooked by my Aaji (Paternal Grandmom), Amda-aaji (Maternal Grandmom) and Mother (Aai), which will further extend to including recipes made by all my Mamas -Vinod Mama, Vilas Mama, Vivek Mama and Viki Mama  (Mom's Brothers)</p>

<p>These Recipes are passed down the generations and my goal is to have them readily accessible and available for the future generation we welcome into this family of FOODIES !!!</p>

<p>I hope my Sisters and Cousins help me keep this updated and add their share of Our grandmother's cooking expertise.</p>

<h5>Lovingly Your's </h5>
<img class='signature' ng-src="https://files.slack.com/files-pri/T066DB5HT-F0EG41XND/sig.png">
<hr>



